In [1]:
import pandas as pd
import numpy as np
import torch

In [2]:
project_df=pd.read_csv("/home/krishna/Desktop/ESDF/ISBSG.csv")

In [3]:
project_df.head()

,Project ID,Data Quality Rating,Input count,Output count,Enquiry count,File count,Interface count,Added count,Changed count,Deleted count,COSMIC FFP Entry,COSMIC FFP Exit,COSMIC FFP Read,COSMIC FFP Write,Summary Work Effort
0,10001,D,60.0,110.0,10.0,42.0,15.0,237.0,0.0,0.0,0,0,0,0,1850.0
1,10011,B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,796.0
2,10012,B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,1100.0
3,10014,B,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,28.0
4,10015,B,186.0,7.0,172.0,7.0,10.0,35.0,347.0,0.0,0,0,0,0,22000.0

In [4]:
max(project_df["Project ID"].value_counts())

1

In [5]:
node_features = project_df[["Input count", "Output count", "Enquiry count", "File count","Interface count","Added count","Changed count","Deleted count","COSMIC FFP Entry","COSMIC FFP Exit","COSMIC FFP Read","COSMIC FFP Write"]]
node_features.head()

,Input count,Output count,Enquiry count,File count,Interface count,Added count,Changed count,Deleted count,COSMIC FFP Entry,COSMIC FFP Exit,COSMIC FFP Read,COSMIC FFP Write
0,60.0,110.0,10.0,42.0,15.0,237.0,0.0,0.0,0,0,0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
4,186.0,7.0,172.0,7.0,10.0,35.0,347.0,0.0,0,0,0,0

In [6]:
x = node_features.to_numpy()
x.shape

(3357, 12)

In [7]:
labels = project_df[["Summary Work Effort"]]
labels.head()

   Summary Work Effort
0               1850.0
1                796.0
2               1100.0
3                 28.0
4              22000.0

In [8]:
y=labels.to_numpy()
y.shape

(3357, 1)

In [9]:
project_df["Project ID"] = project_df.reset_index().index

In [10]:
project_df["Data Quality Rating"].value_counts()

B    2255
A     825
C     139
D     138
Name: Data Quality Rating, dtype: int64

In [11]:
import itertools
import numpy as np

projects = project_df["Data Quality Rating"].unique()
all_edges = np.array([], dtype=np.int32).reshape((0, 2))
for pr in projects:
    rating_df = project_df[project_df["Data Quality Rating"] == pr]
    prid = rating_df["Project ID"].values
    permutations = list(itertools.combinations(prid, 2))
    edges_source = [e[0] for e in permutations]
    edges_target = [e[1] for e in permutations]
    project_edges = np.column_stack([edges_source, edges_target])
    all_edges = np.vstack([all_edges, project_edges])
edge_index = all_edges.transpose()
edge_index

array([[   0,    0,    0, ..., 3346, 3346, 3348],
       [   6,   39,   93, ..., 3348, 3356, 3356]])

In [12]:

from torch_geometric.data import Data
data=Data(x=x,edge_index=edge_index,y=y)
data

Data(x=[3357, 12], edge_index=[2, 2900329], y=[3357, 1])